# Ignore virtual environment
venv/
my_venv/

# Ignore Python cache files
__pycache__
*.pyc
*.pyo


# Ignore database files (optional)
db.sqlite3 

.env

# Static and media files




.vscode/

.DS_Store
Thumbs.db

*.egg-info/
dist/
build/

#Zrawtemplate/staticfiles/
