{% extends "partials/base.html" %}
{% load humanize %}
{% load static %}
{% block content %}

  <section class="hero-section mt-5 py-5">
    <div class="hero-content">
      <div class="container">
        <div class="row text-center">
          <div class="post-meta text-uppercase my-3">
            <span class="post-category">Any Questions? All Answers are right  Here !</span>
          </div>
          <h2 class="post-title text-uppercase">
            <a href="single-post.html">Frequently Asked Questions</a>
          </h2>
          <nav class="breadcrumb justify-content-center">
            <a class="breadcrumb-item" href="#">Home</a>
            <span class="breadcrumb-item active" aria-current="page">FAQ</span>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <div class="post-wrap py-5 no-padding-bottom">
    <div class="container">
      <div class="row g-5">
        <main class="post-grid col-md-8 offset-md-2">
          <div class="row">
            <article class="post-item">
              <div class="hero-image">
                <img src="{% static 'assets/images/blog_img.png' %}" alt="single-post" class="img-fluid">
              </div>
              <div class="post-content py-5">

               <div class="accordion" id="faqAccordion">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading1">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">
                        1. Do you offer custom stitching or customization??
                      </button>
                    </h2>
                    <div id="collapse1" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                      <div class="accordion-body">
                        Yes. Selected products lik e Blouse and Kurti can be customized based on your requirements. 
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading2">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2">
                        2. Which payment methods do you accept?
                      </button>
                    </h2>
                    <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                      <div class="accordion-body">
                        Our partner is Razorpay. And we accept all major credit and debit cards, UPI, net banking. But not cash on delivery.
                      </div>
                    </div>           

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading3">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3">
                        3. Is Cash on Delivery (COD) available?
                      </button>
                    </h2>
                    <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                      <div class="accordion-body">
                        <b>No, we do not offer Cash on Delivery. </b> We only accept online payments through our partner Razorpay. Thank you for your understanding.
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading4">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4">
                        4. How long does it take to receive the product after placing the order?
                      </button>
                    </h2>
                    <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                      <div class="accordion-body">
                        Our in stock products are made after the order is placed for your best satisfaction. So, it takes <b> 7-8 days for stitching. </b> For  delivery, we use Delhivery, which takes 3-4 days across India. So, in total, it takes <b> 9 - 12 days </b>  to receive the product after placing the order.
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading5">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5">
                        5. I had issues with the padded blouse previously. I don't want bulging pads in my blouse. Can you help me with that?
                      </button>
                    </h2>
                    <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                      <div class="accordion-body">
                        We use one size bigger pads for out padded blouses. For example, if you order a size 36 padded blouse, we will use size 38 pads for the blouse. This is done to ensure that the pads do not look too tight or bulging in the blouse.
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading6">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6">
                        6. What is your return and exchange policy for stitched items like blouses and kurtis?
                      </button>
                    </h2>
                    <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                      <div class="accordion-body">
                        <p>
                        Even though we check our pieces 3 times before dispatch, if you receive a defective product, please contact us through email or phone within 5 days of receiving the product. We will arrange for a replacement or store credit refund as per your preference. Please note that we do not accept returns or exchanges for products that have been used or damaged due to customer negligence. 
                        But if you have any issues with the product, please contact us and we will do our best to resolve the issue. </p>
                        <p>
                        Same policy is for sarees. If you receive a defective saree, please contact us through email or phone within 5 days of receiving the product. We will arrange for a replacement or store credit refund as per your preference. Please note that we do not accept returns or exchanges for products that have been used or damaged due to customer negligence. </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading7">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7">
                        7. Do you take bulk orders?
                      </button>
                    </h2>
                    <div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                      <div class="accordion-body">
                        Yes, ofcouse. But we will need a little more time to process the order. 10-15 days for stitching and 3-4 days for delivery. So, in total, it takes 13-19 days to receive the product after placing the order. Please contact us through email or phone for bulk orders.
                      </div>
                    </div>
                  </div>

              </div>

              </div>
         
          </div>
        </main>
      </div>
    </div>
  </div>

{% endblock content %}