{% extends 'partials/base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
{% comment %} <form id="csrf-form" style="display:none;">
    {% csrf_token %}
  </form>  {% endcomment %}
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                <div class="cart-table">
                    <div class="cart-header">
                    <div class="row d-flex">
                        <h6 class="cart-title text-uppercase text-muted col-lg-4 pb-3">Product</h6>
                        <h6 class="cart-title text-uppercase text-muted col-lg-3 pb-3">Quantity</h6>
                        <h6 class="cart-title text-uppercase text-muted col-lg-4 pb-3">Subtotal</h6>
                    </div>
                    </div>

                {% for item in items %}
                    <div class="cart-item border-top border-bottom">
                    <div class="row align-items-center"> 
                        <div class="col-lg-4 col-md-3">
                        <div class="cart-info d-flex flex-wrap align-items-center mb-4">
                            <div class="col-lg-5">
                            <div class="card-image">
                                <img src="{{item.product.image.url}}" alt="cloth" class="img-fluid">
                            </div>
                            </div>
                            <div class="col-lg-7">
                            <div class="card-detail ps-3">
                                <h5 class="card-title">
                                <a href="#" class="text-decoration-none">{{item.product.name}}</a>
                                </h5>
                                <div class="card-price">
                                <span class="money text-dark" data-currency-usd="₹ 1000"> ₹{{item.price}}</span>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-lg-6 col-md-7">
                        <div class="row d-flex">
                            <div class="col-md-4">
                            <div class="input-group product-qty">
                                <span class="input-group-btn">
                                    <button type="button" class="quantity-left-minus btn btn-light btn-number"  data-type="minus" data-field="">
                                    <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                    </button>
                                </span>
                                <input type="text" id="quantity" name="quantity" class="form-control input-number text-center" value="1" min="1" max="100">
                                <span class="input-group-btn">
                                    <button type="button" class="quantity-right-plus btn btn-light btn-number" data-type="plus" data-field="">
                                        <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                    </button>
                                </span>
                            </div>
                            </div>
                            <div class="col-md-8 text-center">
                            <div class="total-price">
                                <span class="money text-dark">₹ {{item.sub_total}}</span>
                            </div>
                            </div>   
                        </div>             
                        </div>
                        <div class="col-lg-1 col-md-2">
                        <div class="cart-remove">
                            <a href="#">
                            <svg width="32px">
                                <use xlink:href="#trash"></use>
                            </svg>
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
            </div>
            </div>
            

            
            <div class="col-md-4">
            <div class="cart-totals bg-grey py-5">
                <h4 class="text-dark pb-4">Cart Total</h4>
                <div class="total-price pb-5">
                <table cellspacing="0" class="table text-uppercase">
                    <tbody>
                    <tr class="subtotal pt-2 pb-2 border-top border-bottom">
                        <th>Subtotal</th>
                        <td data-title="Subtotal">
                        <span class="price-amount amount text-dark ps-5">
                            <bdi>
                            <span class="price-currency-symbol">₹</span> {{cart_sub_total | intcomma }}
                            </bdi>
                        </span>
                        </td>
                    </tr>
                    <tr class="subtotal pt-2 pb-2 border-top border-bottom">
                        <th>Shipping Charges</th>
                        <td data-title="Shipping Charges">
                        <span class="price-amount amount text-dark ps-5">
                            <bdi>
                            <span class="price-currency-symbol">₹</span> 100.00
                            </bdi>
                        </span>
                        </td>
                    </tr>
                    <tr class="order-total pt-2 pb-2 border-bottom">
                        <th>Total</th>
                        <td data-title="Total">
                        <span class="price-amount amount text-dark ps-5">
                            <bdi>
                            <span class="price-currency-symbol">₹</span class="cart_sub_total">{{cart_sub_total}}</bdi>
                        </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
                <div class="button-wrap row g-2">
                <div class="col-md-6"><button class="btn btn-dark text-uppercase btn-rounded-none w-100">Update Cart</button></div>
                <div class="col-md-6"><button class="btn btn-dark text-uppercase btn-rounded-none w-100">Continue Shopping</button></div>
                </div>
            </div>
            </div>
        {% endfor %}


        {% if address %}
            <section class="checkout-wrap pb-5">
                <div class="container">
                <form class="form-group" method="post" >{% csrf_token %}

                    <div class="row g-5">
                    <div class="col-lg-6">
                        <h6 class="text-dark pb-4">Billing Details</h6>
                        <div class="billing-details">

                        <label for="fname">Full Name*</label>
                        <input type="text" id="name" name="name" class="form-control mt-2 mb-4 ps-3" value="{{ address.full_name|default:'' }}">
                        
                        <label for="cname">Country / Region*</label>
                        <select class="form-select form-control mt-2 mb-4" aria-label="Default select example">
                            <option selected="" hidden="">India</option>
                            <option value="1">Australia</option>
                            <option value="2">Canada</option>  
                            <option value="3">UK</option>
                            <option value="4">USA</option>
                        </select>
                        <label for="address">Street Address*</label>
                        <input type="text" id="adr" name="address" placeholder="Enter full address " class="form-control mt-3 ps-3 mb-3" value="{{ address.address|default:'' }}" >
                        
                        <label for="city">Town / City *</label>
                        <input type="text" id="city" name="city" class="form-control mt-3 ps-3 mb-4" value="{{ address.city|default:'' }}">
                        <label for="state">State *</label> 
                        <input type="text" id="city" name="city" class="form-control mt-3 ps-3 mb-4" value="{{ address.state|default:'' }}">
                        <label for="zip">Zip Code *</label>
                        <input type="text" id="zip" name="zip" class="form-control mt-2 mb-4 ps-3"value="{{address.zip_code|default:'' }}">
                        <label for="email">Phone *</label>
                        <input type="text" id="phone" name="phone" class="form-control mt-2 mb-4 ps-3" value="{{ address.mobile|default:'' }}"> 
                        <label for="email">Email address *</label>
                        <input type="text" id="email" name="email" class="form-control mt-2 mb-4 ps-3" value="{{ address.email|default:'' }}">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="text-dark pb-4">Additional Information</h4>
                        <div class="billing-details">
                        <label for="fname">Order notes (optional)</label>
                        <textarea class="form-control pt-3 pb-3 ps-3 mt-2" placeholder="Notes about your order. Or special notes for delivery."></textarea>
                    </div> 

                    <div class="list-group mt-5 mb-3">
                        
                            <div class="col-md-12"><button class="btn btn-primary text-uppercase btn-rounded-none w-100">Proceed to checkout</button></div>

                        
                    </div>
                    </div>
                </form>
                </div>
            </section>     
        {% endif %}     
            
        </div>
        </div>
        
    </section> 

{% endblock content %}