
{% extends "partials/base.html" %}
{% comment %} current template is based on another template called partials/base.html.  {% endcomment %}
{% comment %} Tells Django to enable the {% static %} tag, which allows us to use reference static files like images, CSS, or JavaScript. {% endcomment %}
{% load static %}
{% comment %} This is a Django template block where you put the content that will replace the corresponding block in the base.html template. {% endcomment %}
{% block content %}






  <!-- ============================================ SECTION CONTENT ============================================ -->


  <section id="billboard" class="bg-light py-5">
    <div class="container">
      <div class="row justify-content-center">
        <h1 class="section-title text-center mt-4" data-aos="fade-up"> New Collections </h1>
        <div class="col-md-6 text-center" data-aos="fade-up" data-aos-delay="300">
       
        </div>
      </div>
      <div class="row">
        <div class="swiper main-swiper py-4" data-aos="fade-up" data-aos-delay="600">
          <div class="swiper-wrapper d-flex border-animation-left">
            <div class="swiper-slide">
              <div class="banner-item image-zoom-effect">
                <div class="image-holder">
                  <a href="{% url 'store:product_detail' 'hakoba-enakshi-white' %}">
                    {% comment %} image is fetched from static folder {% endcomment %}
                    <img src="{% static 'assets/images/3.jpg' %}" alt="product" class="img-fluid">
                  </a>     
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="banner-item image-zoom-effect">
                <div class="image-holder">
                  <a href="{% url 'store:product_detail' 'red-mul-cotton' %}">
                    {% comment %} image is fetched from static folder {% endcomment %}
                    <img src="{% static 'assets/images/1.jpg' %}" alt="product" class="img-fluid">
                  </a>
                </div>               
              </div>
            </div>

            <div class="swiper-slide">
              <div class="banner-item image-zoom-effect">
                <div class="image-holder">
                  <a href="{% url 'store:product_detail' 'mull-cotton-with-decorative-border' %}">
                    <img src="{% static 'assets/images/3a.jpg' %}" alt="product" class="img-fluid">
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="banner-item image-zoom-effect">
                <div class="image-holder">
                  <a href="{% url 'store:product_detail' 'hakoba-mayuravi' %}">
                    <img src="{% static 'assets/images/22.png' %}" alt="product" class="img-fluid">
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="banner-item image-zoom-effect">
                <div class="image-holder">
                  <a href="{% url 'store:product_detail' 'mul-cotton-white-saree' %}">
                    <img src="{% static 'assets/images/h.jpg' %}" alt="product" class="img-fluid">
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="banner-item image-zoom-effect">
                <div class="image-holder">
                  <a href="{% url 'store:product_detail' 'blue-green-mull-cotton' %}">
                    <img src="{% static 'assets/images/8.jpg' %}" alt="product" class="img-fluid">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="icon-arrow icon-arrow-left"><svg width="50" height="50" viewBox="0 0 24 24">
            <use xlink:href="#angle-left"></use>
          </svg></div>
        <div class="icon-arrow icon-arrow-right"><svg width="50" height="50" viewBox="0 0 24 24">
            <use xlink:href="#angle-right"></use>
          </svg></div>
      </div>
    </div>
  </section>


   <!-- ============================================ ==========================  ============================================ -->

  {% comment %} -------------------    Features like Book an appointment, Pick up in store, Special packaging and Free global returns -------------------  {% endcomment %}



  <section class="features py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="0">  
           <div class="py-5">
            <svg width="38" height="38" viewBox="0 0 24 24">
              <use xlink:href="#calendar"></use>
            </svg> 
            <h4 class="element-title text-capitalize my-3">Pure Cotton</h4>
             <p>Handcrafted from premium-quality Fulia cotton</p> 
          </div>
        </div>
        <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="300">
          <div class="py-5">
          <svg width="38" height="38" viewBox="0 0 24 24">
              <use xlink:href="#shopping-bag"></use>
            </svg> 
            <h4 class="element-title text-capitalize my-3"> Customizable</h4>
           <p> Personalised to your preference, each piece is available in sizes upto 6XL</p> 
          </div>
        </div>
        <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="600">
          <div class="py-5">
            <svg width="38" height="38" viewBox="0 0 24 24">
              <use xlink:href="#gift"></use>
            </svg> 
            <h4 class="element-title text-capitalize my-3">Special surprises</h4>
             <p>Every order has a special surprise for you</p> 
          </div>
        </div>
        <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="900">
          <div class="py-5">
            <svg width="38" height="38" viewBox="0 0 24 24">
              <use xlink:href="#arrow-cycle"></use>
            </svg> 
            <h4 class="element-title text-capitalize my-3">No return & COD </h4>
            <p>We have a no return policy, not that you would want to</p> 
          </div>
        </div>
      </div>
    </div>
  </section>


 <!-- ============================================ ==========================  ============================================ -->

 {% comment %} -------------------    Categories like Saree, Blouse and Kurti -------------------  {% endcomment %}

{% comment %} <section> → Defines a section of the webpage.
              custom CSS class - Styled in stylesheet
              overflow-hidden → hides any overflowing elements - used for animations like zoom effects
 {% endcomment %}

  
 
  <section class="categories overflow-hidden">
      <div class="container">
      {% comment %} This portion contains Best sElling and view all products portion or line {% endcomment %}

     <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
        <h4 class="text-uppercase">Categories</h4>
        {% comment %} <a href="index.html" class="btn-link">View All Products</a> {% endcomment %}
      </div> 
    {% comment %} Bootstrap’s container. - provides proper spacing & alignment. Keeps content centered with margins {% endcomment %}
    <div class="container">

      {% comment %} Open-up → likely a custom class for animation/transition. 
                   Data-aos="zoom-out" → uses the Animate On Scroll(AOS) library to animate this block when it comes into view (zoom-out effect) {% endcomment %}
      <div class="open-up" data-aos="zoom-out">
        <div class="row">
          {% comment %} Each col-md-4 → a column taking up 4 parts out of 12 in Bootstrap’s grid.
          ince 3 × 4 = 12, this creates 3 equal-width columns for desktop view only  {% endcomment %}
          <div class="col-md-4">

            {% comment %} cat-item → wrapper for a single category card . Similarly, image-holder → container for the image {% endcomment %}
            <div class="cat-item image-zoom-effect">
              {% comment %} <a href="index.html"> → clickable link around the image ---- Connects to homepage (index.html) {% endcomment %}
               

              <div class="image-holder"> <a href="{% url 'store:catalogue' 'blouse' %}">
                  <img src="{% static 'assets/images/3.jpg' %}" alt="categories" class="product-image img-fluid">
                </a>
                {% comment %} Category-content → text/button overlay area under the image. Includes wrapper for styling button {% endcomment %}
              </div>
              <div class="category-content">
                <div class="product-button">
                  <a href="{% url 'store:catalogue' 'blouse' %}" class="btn btn-common text-uppercase">Shop for Blouses</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="cat-item image-zoom-effect">
              <div class="image-holder">
                <a href="{% url 'store:catalogue' 'saree' %}">
                  <img src="{% static 'assets/images/3a.jpg' %}" alt="categories" class="product-image img-fluid">
                </a>
              </div>
              <div class="category-content">
                <div class="product-button">
                  <a href="{% url 'store:catalogue' 'saree' %}" class="btn btn-common text-uppercase">Shop for Saree</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="cat-item image-zoom-effect">
              <div class="image-holder">
                <a href="{% url 'store:catalogue' 'kurti' %}">
                  <img src="{% static 'assets/images/25.jpg' %}" alt="categories" class="product-image img-fluid">
                </a>
              </div>
              <div class="category-content">
                <div class="product-button">
                  <a href="{% url 'store:catalogue' 'kurti' %}" class="btn btn-common text-uppercase">Shop for Kurti</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 <!-- ============================================ ==========================  ============================================ -->


    <!-- ============================================ ==========================  ============================================ -->
    {% comment %} --------------------------    Collection Section --------------------------     {% endcomment %}
      <section class="collection bg-light position-relative py-5">
        <div class="container">
          <div class="row">
            <div class="title-xlarge text-uppercase txt-fx domino">Collection</div>
            <div class="collection-item d-flex flex-wrap my-5">
              <div class="col-md-6 column-container">
                <div class="image-holder">
                  <img src="{% static 'assets/images/single-images-2.jpg' %}" alt="collection" class="product-image img-fluid">
                </div>
              </div>
              <div class="col-md-6 column-container bg-white">
                <div class="collection-content p-5 m-0 m-md-5">
                  {% comment %} <h3 class="element-title text-uppercase"> Naavyaa - Cotton. Craft. Confidence.</h3> {% endcomment %}
                   <h3 class="element-title text-uppercase"> Empowering Women Through Cotton </h3>
                  <p>Embrace elegance that breathes with you! Our exquisite collection of cotton blouses, sarees, and kurtis combines festive sophistication with unmatched comfort. Each piece is lovingly handcrafted to your unique specifications by skilled women artisans who understand what women truly desire. Our designs celebrate femininity, comfort, and individuality—bringing you timeless style that feels as good as it looks.</p>

                  <a href="{% url 'blog:blog' %}" class="btn btn-dark text-uppercase mt-3">ABOUT US</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


    <!-- ============================================ ==========================  ============================================ -->
    {% comment %} --------------------------    Product Views - Best Sellers --------------------------     {% endcomment %}
    <section id="best-sellers" class="best-sellers product-carousel py-5 position-relative overflow-hidden">
    <div class="container">
      {% comment %} This portion contains BEst sElling and view all products portion or line {% endcomment %}

      <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
        <h4 class="text-uppercase">Our Products</h4>
        
      </div>

      {% comment %} Swiper Container - product-swiper → custom class for styling this specific swiper instance
                   open-up → likely a custom class for animation/transition
                   data-aos="zoom-out" → uses the Animate On Scroll (AOS) library to animate this block when it comes into view (zoom-out effect) {% endcomment %}
      <div class="swiper product-swiper open-up" data-aos="zoom-out">
        <div class="swiper-wrapper d-flex">


        {% for product in products %} {% comment %} Loops through all products {% endcomment %}

            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder">
                  <a href="{% url 'store:product_detail' product.slug %}">

                    {% if product.image %}
                      <img src="{{ product.image.url }}" alt="{{ product.name }}"  class="product-image img-fluid" loading="lazy">
                    {% else %}
                      <img src="{% static 'assets/images/cat-item3.jpg' %}" alt="{{ product.name }}"  class="product-image img-fluid" loading="lazy">
                    {% endif %}
                  </a>
                  <a href="{% url 'store:product_detail' product.slug %}" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>

                  {% comment %} Product name and average rating is document.
                  The average rating is done from models.py > class Product  {% endcomment %}
                  <div class="product-content">
                    {% comment %} How the name of the product is written and average rating is written with it {% endcomment %}
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="{% url 'store:product_detail' product.slug %}">{{ product.name }}</a>
                    </h5>

                    {% comment %} ================= Average Rating Block ================= {% endcomment %}
                  <div class="rating-wrapper">  
                   {% with product.average_rating|floatformat:"0"|add:"0" as avg_round %}
                    <div class="star-rating align-items-center d-flex justify-content-start mb-2 p-0 mt-3">
                        {% if product.average_rating %}
                            {{ product.average_rating|floatformat:1 }}

                            <div class="avg-stars flex gap-1 items-center">
                                {% for _ in "12345" %}
                                    {% if forloop.counter <= avg_round %}
                                        <span class="star filled text-yellow-500 text-xl"> ★ </span>
                                    {% else %}
                                        <span class="star empty text-gray-300 text-xl"> ☆ </span>
                                    {% endif %}
                                {% endfor %}
                                <span class="small ms-2">({{ product.reviews.count }})</span>
                            </div>
                        {% else %}
                            <p>No ratings yet</p>
                        {% endif %}
                      </div>
                      {% endwith %}

                  </div>

                    <a href="#" class="text-decoration-none" data-after="Click to View">
                      <span>{% if product.price %} ₹ {{ product.price }}{% else %}  {% endif %}</span></a>

                    </div>
                </div>
              </div>
            </div>
          {% empty %}          
          {% endfor %}
          
        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="icon-arrow icon-arrow-left"><svg width="50" height="50" viewBox="0 0 24 24">
          <use xlink:href="#arrow-left"></use>
        </svg></div>
      <div class="icon-arrow icon-arrow-right"><svg width="50" height="50" viewBox="0 0 24 24">
          <use xlink:href="#arrow-right"></use>
        </svg></div>
    </div>
  </section>

  <!-- ============================================ ==========================  ============================================ -->
  {% comment %} --------------------------    Testimonials  --------------------------     {% endcomment %}



  <section class="testimonials py-4 bg-light">
    <div class="section-header text-center mt-5">
      <h3 class="section-title">Compliments that we recieved</h3>
    </div>
    <div class="swiper testimonial-swiper overflow-hidden my-5">
      <div class="swiper-wrapper d-flex">
        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“Thank you so much di i received it !! No any changes I need to make because it's perfectly fit thank you for cutee surprise earrings I lovee it!”</p>
              <div class="review-title text-uppercase">- nidz.1309</div>
            </blockquote>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“Hi

    Got the blouse .Fittings is perfect..However i thought the colour as red but it is somewhat near brick ref
    Brick red. But i loved the product... Thank you”</p>
              <div class="review-title text-uppercase">- Arpita Barui</div>
            </blockquote>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“Ekkhuni saree ta pelam... Khub khub shundr..And the icing on the cake the super pretty matching jewellery!! Darun gifts. Thanks a tonne!!!!Looking forward to shopping from u again”</p>
              <div class="review-title text-uppercase">- A Happy Customer</div>
            </blockquote>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“Received the parcel Blouse quality is top notch Completely satisfied and thanks for earrings and thanks note very impressive”</p>
              <div class="review-title text-uppercase">- @Shalu</div>
            </blockquote>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“This blouse is the best i ever wore.... Darun fit...

    Kono bhasha nei ”</p>
              <div class="review-title text-uppercase">- Moithilee</div>
            </blockquote>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“Vison norom chilo blouse ta ar comfortable o saradin pore khub aaram peyechi ”</p>
              <div class="review-title text-uppercase">- @lavender_of_October</div>
            </blockquote>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“Got this product today and itsss really beautiful!!!!!! It's perfect the material too !

    Thankyou for the jewelleries! It's so beautiful

      Looking forward to buy more products from u!”</p>
              <div class="review-title text-uppercase">- Shreya Biswas</div>
            </blockquote>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“Hi dear received the blouse ! And thank u so much for the cute earrings ! Loved the blouse! It's a bit loose near the arm hole area on the left side but I can get that fixed. . I'm waiting for my sari also that ordered and once I style it if it looks good will send a pic Thank you once again!”</p>
              <div class="review-title text-uppercase">- @Sheens.liz</div>
            </blockquote>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“Hey received nice quality and finishing and that small earrings really simply best Love your work
      ”</p>
              <div class="review-title text-uppercase">- Nidhi Patel</div>
            </blockquote>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“Khub khub sundorrr!! Fittings is perfect!”</p>
              <div class="review-title text-uppercase">- Shivangi Paul</div>
            </blockquote>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“Blouse ta khub sundor hoyeche amr khub prochondo hoyeche.... quality ta o khub vloo amr bandhobi o blouse ta vison pochondo hoyeche ami konodin insta diye kono shopping krini khub bhoy e chilm ki hbe kmn asbe but you proved me wrong ...ur product is really really osm ami definitely 2nd time abr purchase krbo”</p>
              <div class="review-title text-uppercase">- Shri Paul</div>
            </blockquote>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“Received the blouse...Top notch stitching, khub sundor design ar quality... I will surely purchase another onee..”</p>
              <div class="review-title text-uppercase">- Madhurima</div>
            </blockquote>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“Dear Team NAAVYAA,Thank you for the beautiful kurti I purchased for my mom. She loves the elegant design, perfect fit, and soft fabric. The prompt delivery and thoughtful packaging were much appreciated. You've made her so happy, and we'll definitely shop with you again! ”</p>
              <div class="review-title text-uppercase">- Swastik Saha</div>
            </blockquote>
          </div>
      </div>
    </div>
    <div class="testimonial-swiper-pagination d-flex justify-content-center mb-5"></div>
  </section>



 <!-- ============================================ ==========================  ============================================ -->
  {% comment %} --------------------------    You are Our Muse --------------------------     {% endcomment %}


  
  <section class="related-post post-wrap py-4">


    <div class="row g-0">
      <div class="col-6 col-sm-4 col-md-2">
        <div class="insta-item">
          <a href="https://www.instagram.com/na_a_v_y_aa/" target="_blank">
            <img src="{% static 'assets/images/review pic 1.png' %}" alt="instagram" class="insta-image img-fluid">
          </a>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2">
        <div class="insta-item">
          <a href="https://www.instagram.com/na_a_v_y_aa/" target="_blank">
            <img src="{% static 'assets/images/review pic 6.png' %}" alt="instagram" class="insta-image img-fluid">
          </a>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2">
        <div class="insta-item">
          <a href="https://www.instagram.com/na_a_v_y_aa/" target="_blank">
            <img src="{% static 'assets/images/review pic 8.png' %}" alt="instagram" class="insta-image img-fluid">
          </a>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2">
        <div class="insta-item">
          <a href="https://www.instagram.com/na_a_v_y_aa/" target="_blank">
            <img src="{% static 'assets/images/review pic 12.png' %}" alt="instagram" class="insta-image img-fluid">
          </a>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2">
        <div class="insta-item">
          <a href="https://www.instagram.com/na_a_v_y_aa/" target="_blank">
            <img src="{% static 'assets/images/review pic 10.png' %}" alt="instagram" class="insta-image img-fluid">
          </a>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2">
        <div class="insta-item">
          <a href="https://www.instagram.com/na_a_v_y_aa/" target="_blank">
            <img src="{% static 'assets/images/review pic 9.png' %}" alt="instagram" class="insta-image img-fluid">
          </a>
        </div>
      </div>
    </div>
  </section>




    <!-- ============================================ ==========================  ============================================ -->
  {% comment %} --------------------------    Blog Post -- To our makers --------------------------     {% endcomment %}

   {% comment %} <section class="blog py-5">
    <div class="container">
      
      <div class="row">

      </div>
    </div>
  </section> 
    <section class="instagram position-relative">

  </section> {% endcomment %}



{% endblock content %} 



 