{% extends "partials/base.html" %}
{% comment %} current template is based on another template called partials/base.html.  {% endcomment %}
{% comment %} Tells Django to enable the {% static %} tag, which allows us to use reference static files like images, CSS, or JavaScript. {% endcomment %}
{% load static %}
{% comment %} This is a Django template block where you put the content that will replace the corresponding block in the base.html template. {% endcomment %}
{% block content %}

  
  <section class="pt-3 border-bottom">
    <div class="container-fluid">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-uppercase fs-3">Shop For Kurtis</h1>
        <nav class="breadcrumb">
          <a class="breadcrumb-item" href="#">Home</a>
          <a class="breadcrumb-item" href="#">Pages</a>
          <span class="breadcrumb-item active" aria-current="page">Shop</span>
        </nav>
      </div>
    </div>
  </section>

  <section class="py-5">
    <div class="container-fluid">
      <div class="row py-2">
        <div class="col-md-9">
          <span>Showing 1–12 of 55 results</span>
        </div>
        <div class="col-md-3">
          <select class="form-select border-0" aria-label="Default select example">
            <option selected>Default Sorting</option>
            <option value="1">Color</option>
            <option value="2">Size</option>
            <option value="3">Price</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="single-product.html"><img src="images/product-thumb-16.jpg" alt="product" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h3 class="fs-5 mt-3 text-uppercase">
                  <a href="single-product.html">Dark florish onepiece</a>
                </h3>
                <a href="single-product.html" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
              </div>
            </div>
          </div>
        </div>                   
        <div class="col-md-3">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="single-product.html"><img src="images/product-thumb-17.jpg" alt="product" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h3 class="fs-5 mt-3 text-uppercase">
                  <a href="single-product.html">Dark florish onepiece</a>
                </h3>
                <a href="single-product.html" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
              </div>
            </div>
          </div>
        </div>                 
        <div class="col-md-3">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="single-product.html"><img src="images/product-thumb-18.jpg" alt="product" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h3 class="fs-5 mt-3 text-uppercase">
                  <a href="single-product.html">Dark florish onepiece</a>
                </h3>
                <a href="single-product.html" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
              </div>
            </div>
          </div>
        </div>   
        <div class="col-md-3">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="single-product.html"><img src="images/product-thumb-19.jpg" alt="product" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h3 class="fs-5 mt-3 text-uppercase">
                  <a href="single-product.html">Dark florish onepiece</a>
                </h3>
                <a href="single-product.html" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="single-product.html"><img src="images/product-thumb-20.jpg" alt="product" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h3 class="fs-5 mt-3 text-uppercase">
                  <a href="single-product.html">Dark florish onepiece</a>
                </h3>
                <a href="single-product.html" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
              </div>
            </div>
          </div>
        </div>                   
        <div class="col-md-3">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="single-product.html"><img src="images/product-thumb-21.jpg" alt="product" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h3 class="fs-5 mt-3 text-uppercase">
                  <a href="single-product.html">Dark florish onepiece</a>
                </h3>
                <a href="single-product.html" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
              </div>
            </div>
          </div>
        </div>                 
        <div class="col-md-3">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="single-product.html"><img src="images/product-thumb-22.jpg" alt="product" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h3 class="fs-5 mt-3 text-uppercase">
                  <a href="single-product.html">Dark florish onepiece</a>
                </h3>
                <a href="single-product.html" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="single-product.html"><img src="images/product-thumb-23.jpg" alt="product" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h3 class="fs-5 mt-3 text-uppercase">
                  <a href="single-product.html">Dark florish onepiece</a>
                </h3>
                <a href="single-product.html" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="single-product.html"><img src="images/product-thumb-24.jpg" alt="product" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h3 class="fs-5 mt-3 text-uppercase">
                  <a href="single-product.html">Dark florish onepiece</a>
                </h3>
                <a href="single-product.html" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="single-product.html"><img src="images/product-thumb-25.jpg" alt="product" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h3 class="fs-5 mt-3 text-uppercase">
                  <a href="single-product.html">Dark florish onepiece</a>
                </h3>
                <a href="single-product.html" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="single-product.html"><img src="images/product-thumb-26.jpg" alt="product" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h3 class="fs-5 mt-3 text-uppercase">
                  <a href="single-product.html">Dark florish onepiece</a>
                </h3>
                <a href="single-product.html" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="single-product.html"><img src="images/product-thumb-27.jpg" alt="product" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h3 class="fs-5 mt-3 text-uppercase">
                  <a href="#">Dark florish onepiece</a>
                </h3>
                <a href="single-product.html" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="single-product.html"><img src="images/product-thumb-28.jpg" alt="product" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h3 class="fs-5 mt-3 text-uppercase">
                  <a href="single-product.html">Dark florish onepiece</a>
                </h3>
                <a href="single-product.html" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="single-product.html"><img src="images/product-thumb-29.jpg" alt="product" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h3 class="fs-5 mt-3 text-uppercase">
                  <a href="single-product.html">Dark florish onepiece</a>
                </h3>
                <a href="single-product.html" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="single-product.html"><img src="images/product-thumb-30.jpg" alt="product" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h3 class="fs-5 mt-3 text-uppercase">
                  <a href="single-product.html">Dark florish onepiece</a>
                </h3>
                <a href="single-product.html" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="single-product.html"><img src="images/product-thumb-31.jpg" alt="product" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h3 class="fs-5 mt-3 text-uppercase">
                  <a href="#">Dark florish onepiece</a>
                </h3>
                <a href="single-product.html" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation" class="d-flex justify-content-center mt-5">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <i class="icon icon-arrow-left"></i>
            </a>
          </li>
          <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <i class="icon icon-arrow-right"></i>
            </a>
          </li>
        </ul>
      </nav>
  </section>


  
{% endblock content %}